@CHARSET "ISO-8859-1";

html { 
  background: url(bcg.jpg) no-repeat center center fixed; 
  background-size: cover;
  font-family: "Verdana";
}

p{
	
}

table
{
	position:relative;
	
  padding:0;
   -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 400px;
  height: 200px;


  border:0px;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  
   
    background-color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
    color: rgba(225, 57, 17, 0.7);
}

label{
	font-family: "Calibri", Times, serif;
	color:black;
	 font-style: normal;
	font-weight: bold;
}

.label1
{position:relative;
	font-family: "Verdana", Times, serif;
	color:black;
	 font-style: normal;
	font-weight: normal;
	 width: 600px;
  height: 100px;

  top:50px;
  border:0px;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
	
	
}

.label3
{position:relative;
	font-family: "Verdana", Times, serif;
	color:white;
	 font-style: normal;
	font-weight: normal;
	 width: 600px;
  height: 100px;

 
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
	
	
}